textarea {
  width: 90%;
  height: 150px;
  margin: 10px;

}
main {
    background-color: #fff;
  }
button {
  padding: 20px;
  background-color: rgb(25, 230, 93);
  margin: 10px;
}  
img {
  height: 150px;
}